.panel-body {
    padding: 0px;
}

table , th{
    text-align: center;
}

td, th {
    padding: 3px;
}

body {
    background-color: rgba(4, 6, 13, 0.8);
}

.container {
    background-color: #fff;
}

.header-panel {
    background-color: #6fbd68;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
}

.breadcrumb {
    position: relative;
}

.admin-user {
    display: inline;
    position: absolute;
    right: 15px;
}

.panel-heading {
    position: relative;
}

.see-more {
    display: inline;
    position: absolute;
    right: 15px;
}

.modal-body input[type="text"] {
    margin: 5px auto;
}

.del-movie, .m-button {
    text-align: center;
}